
html {

  box-sizing: border-box;
  margin:20px;

}

*, *:before, *:after {

  box-sizing: inherit;

}
  
body {

  font-family: 'Times New Roman', sans-serif;

  line-height: 1.5;

  background: black;

  color: #323232;

}



img {

  max-width: 100%;

}

 

a {

  color: #323232;

  text-decoration: none;

}


a:hover {

  text-decoration: underline;

}



p{

  text-align: justify;
  font-size: 18px;

}



.container {

  max-width: 80%;

  margin: 2rem auto;

  padding: 4rem;

  background: white;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.container section {

  display: grid;

  grid-template-columns: 1fr;

  grid-gap: 2%;

  padding: 1rem 0;

  border-bottom: 1px dashed green;

}


section:last-child {

  border-bottom: none;

}

.container .section-title {

  font-weight: bold;
  color:green;
  font-size: 140%;

}

/** Main section **/
    
.container img.profile {

  width: 80%;

}
  


.container .name {

  font-size: 2rem;

  line-height: 1;

}


.container .title {

  font-size: 1.5rem;

  font-weight: 300;

  color: green;

}
  
.links, .org-title-container {

  flex-direction: column;

}



/** Experience **/
    
.organisation {

  padding-bottom: 2%;

  margin-bottom: 24px;

  border-bottom: 1px solid lightgrey;

}

.organisation:last-child{
  border-bottom: none;
}
  
.org-title-container {

  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;

  font-size: 120%;

}



.org-company {

  font-weight: bold;

  line-height: 1.2;

}



.date{
  font-weight: bold;
  color: gray;
  font-size: 18   px;
}



/** Skills **/
    
.skills-container {

  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-gap: 2%;

  margin-bottom: 1rem;

}

 .skills-container ul {

  margin-left: .5%;
  font-size: 18px;
  list-style-type: disc;

}

/* Responsive design */
@media only screen and (min-width : 1000px) {

  
  .container section{
       grid-template-columns: 1fr 5fr;
     }

     .links, .org-title-container {

      flex-direction: row;
  
    }
  
  
      .links{
      display: flex;
      margin: 10px 0 20px 0;
    }
    
      .link-item{

      display: flex;
      align-items: center;
      flex: 1;
      
       }

 .skills-container {
      grid-template-columns: 1fr  1fr 1fr;
      grid-gap: 2%;
      margin-bottom: 1rem;
    
  }
  
 }