html {

    display:block;
    background-color: rgb(88, 133, 74);
    margin:10px;

    }

    h1{
        font-size: 60px;
        font-style: oblique;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color:greenyellow;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th, td {
        padding: 5px;
        text-align: left;
      }

      table{
          width:40%;        
      }
      caption{
          font-style: bold;
        text-align:left;
        font-size: 40px;
        color:purple;
        }